.price{
  display: block;
  width: 50%;
  margin-left: 35px;
}

.bbton{
  margin-top: 5px;
  text-align: center;
  width: 100%;
}

.versus{
  font-size: 80px;
  font-weight: bolder;
  color: #D50000;
}

.name_tag{
  font-size: 50px;
  font-weight: bolder;
  color: #3F51B5;
}

.prepare{
  font-size: 50px;
  font-weight: bold;
}
#player-left{
  margin-top: 35px;
  height: 450px;
  float: left;
}

#player-right{
  margin-top: 35px;
  height: 450px;
  float: right;
}

#card-left{
  width: 30%;
  height: 30%;
  float: left;
}

#card-right{
  width: 30%;
  height: 30%;
  float: right;
}

#roulette{
  margin-top: 60px;
  width: 70%;
  height: 70%;
}
