#sign_link{
  color: #616161;
}

#sign_link:hover{
  color: #9E9E9E
}

.note_text{
  color: #FFFF00;
}

.congratulate{
  color: #FFFF00;
}

.build-sect{
  background-color: : #8E24AA;
}

#winning{
  background-image: url(../img/dota2win.jpg);
}

#losing{
  background-image: url(../img/dota2lose.jpg);
}
#drawing{
  background-image: url(/ink_horde/img/dota2draw.jpg);
}
#coin-win{
  width: 90px;
  height: 90px;
}
